<p id="notice"><%= notice %></p>

<h3>
  Hi <%= @user.name %>
</h3>


<% if @user.resolutions.empty? %>
  <p>
    You have no resolutions. <%= link_to 'Make some!', :action => 'new', :controller => 'resolutions' %>
  </p>
<% else %>
  <table class="resolutions" summary="My Resolutions">
  <%= render @resolutions %>
  </table>
  <%= will_paginate @resolutions %>
  <%= link_to 'Create new resolution', :action => 'new', :controller => 'resolutions' %>
<% end %>


