<%= form_for(@result) do |t|  %>
  <li><em><%= @result.start_date %> - <%= @result.end_date %></em> - Completed <%= t.text_field :times_completed, :value => @result.times_completed, :maxlength => 3 %> out of <%= @resolution.times %></li>
  <%= t.submit 'Save' %>
<% end %>