<%= form_for(@resolution) do |f| %>
  <% if @resolution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resolution.errors.count, "error") %> prohibited this resolution from being saved:</h2>

      <ul>
      <% @resolution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <%= f.label :title, "I need to " %>
  <%= f.text_field :title, :value => 'do something...' %>
  <%= f.text_field :times, :value => "1", :maxlength => 2 %> 
  <%= f.select :unit, Resolution::UNIT_TYPES %>
  <%= f.label :period, ' per ' %>
  <%= f.select :period, Resolution::PERIOD_TYPES %>
  <%= f.label :repetitions, 'for the next' %>
  <%= f.text_field :repetitions, :value => "1", :maxlength => 3 %>
  <%= f.label :start_date, 'starting from' %>
  <%= f.date_select :start_date %>
  <%= f.submit %>
  </div>
<% end %>