<h1>Listing resolutions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Owner</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resolutions.each do |resolution| %>
  <tr>
    <td><%= resolution.title %></td>
    <td><%= resolution.description %></td>
    <td><%= resolution.owner %></td>
    <td><%= resolution.start_date %></td>
    <td><%= resolution.end_date %></td>
    <td><%= link_to 'Show', resolution %></td>
    <td><%= link_to 'Edit', edit_resolution_path(resolution) %></td>
    <td><%= link_to 'Destroy', resolution, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resolution', new_resolution_path %>
