<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @resolution.title %>
</p>

<p>
  <b>Start date:</b>
  <%= @resolution.start_date.to_s(:long) %>
</p>

<p>
  <b>Repetitions:</b>
  <%= @resolution.repetitions %>
</p>


<%= link_to 'Edit', edit_resolution_path(@resolution) %> |
<%= link_to 'Back', @user %>
