<p id="notice"><%= notice %></p>

<p>
  <%= @resolution.title.capitalize %> <%= @resolution.times %> times per <%= @resolution.period %> from <%= @resolution.start_date.to_s(:long) %> for <%= pluralize(@resolution.repetitions, @resolution.period)  %>
</p>


  

<ul>
  <% for result in @resolution_results %>
  <li><em><%= result.start_date %> - <%= result.end_date %></em> - Completed <%= result.times_completed %> out of <%= @resolution.times %></li>
  <% end %>  
</ul>


<%= link_to 'Edit', edit_resolution_path(@resolution) %> | <%= link_to 'Delete', @resolution, :confirm => 'Are you sure?', :method => :delete  %> |
<%= link_to 'Back', @user %>
